[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
iniconfig = {editable = true, path = "./gym"}
tox = "*"
flake8 = "*"
pytest = "*"

[dev-packages]
jupyter = "*"
matplotlib = "*"

[requires]
python_version = "3.9"
