black[jupyter] == 23.*
flake8
flake8-pyproject
pytest
pytest-benchmark
pytest-forked

pandas
pandarallel
pydantic
pydantic_yaml
numpy
jupyter
matplotlib
tqdm
scikit-optimize
seaborn

networkx

-e .

stable-baselines3
wandb
