black[jupyter]
flake8
flake8-pyproject
pytest
pytest-benchmark
pytest-forked

pandas
pandarallel
pydantic
numpy
jupyter
matplotlib
tqdm
scikit-optimize
seaborn

networkx

-e .

-e ./vendor/rl_zoo3
stable-baselines3
wandb
