black[jupyter] == 23.*
flake8
flake8-pyproject
pytest
pytest-benchmark
pytest-forked

pandas
pandarallel
pydantic
pydantic_yaml < 1
numpy
jupyter
matplotlib
tqdm
scikit-optimize
seaborn

networkx

--no-binary=pynauty
pynauty

-e ./gym/ocaml
-e ./gym/rust

stable-baselines3 >= 2.2.*
rl_zoo3 >= 2.2.*
